<!DOCTYPE html>
{%extends 'testapp/base.html'%}
       {%block body%}
       <div class="jumbotron" align="center">
         <h1>Weclcome to Hemanth Exam</h1>
         <h2>Rules..</h2>
         <ul>
           <li>Rule1:This is the final exam</li>
           <li>Rule1:This is the final exam</li>
           <li>Rule1:This is the final exam</li>
           <li>Rule1:This is the final exam</li>
           <li>Rule1:This is the final exam</li>
           <li>Rule1:This is the final exam</li>
           <li>Rule1:This is the final exam</li>
           <li>Rule1:This is the final exam</li>
         </ul>
       </div>
       


       {%endblock%}
